.footer {
    position: fixed;
    left: 0;
    bottom: -50px;
    width: 100%;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    transition: bottom 0.3s ease;
}

.footer.show {
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons {
    
}

.footer p {
    margin: 0;
    font-size: 14px;
}